.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.card-body {
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    background: #607d8b7d;
}

.src_fild {
    border-radius: 0;
}

.src_btn {
    line-height: 0.5;
    height: 38px;
    border-radius: 0;
}