.wp-block {
    margin: 0 0 15px 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    position: relative;
    cursor: default;
    border-radius: 2px;
}

a:hover {
    text-decoration: none;
}

.no-margin {
    margin: 0 !important;
}

.wp-block.inverse .figure {
    position: relative;
}

.wp-block.inverse {
    width: 100%;
}

.wp-block-info-over.left {
    background: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 10px;
}


/* .wp-block-info-over {
    width: 100%;
    padding: 10px;
    background: #9cd70e;
    border-top: 1px solid #e0eded;
} */


/* .wp-block-info-over.left h2 {
    font-size: 13px;
    font-weight: normal;
} */

.wp-block.inverse h2,
.wp-block.inverse .title {
    margin: 0;
    padding: 12px 15px 0 0;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    text-transform: none;
}

.wp-block-info-over.left h2 a {
    padding: 8px 8px 8px 8px;
    margin: 0;
    font-size: 11px;
    text-transform: capitalize;
    font-weight: 600;
    background: #006a4e;
    color: #fff;
    border-radius: 6px;
}

.wp-block-info-over.left h2 .label {
    position: absolute;
    left: 15px;
    padding: .5em .6em .5em;
}

.wp-block.inverse h2,
.wp-block.inverse .title {
    margin: 0;
    padding: 12px 15px 0 0;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    text-transform: none;
}

.label {
    border-radius: 0;
}