  /* The message box is shown when the user clicks on the password field */
  
  #pesan {
      display: none;
      background: #f1f1f1;
      color: #000;
      position: relative;
      padding: 20px;
      margin-top: 140px;
  }
  
  #pesan p {
      padding: 10px;
      font-size: 12px;
  }
  /* Add a green text color and a checkmark when the requirements are right */
  
  .benar {
      color: green;
  }
  
  .benar:before {
      position: relative;
      left: -15px;
      content: "✔";
  }
  /* Add a red text color and an "x" when the requirements are wrong */
  
  .tidakbenar {
      color: red;
  }
  
  .tidakbenar:before {
      position: relative;
      left: -15px;
      content: "✖";
  }